.main{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 150px;
}

.form{
    width: 50%;
}
.picture{
    width: 50%;
}
.form input{
   width: 350px;
   height: 50px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.form input::placeholder{
    font-size: small;
}
.form .head h1{
    margin-bottom: 10px;
}
#submit{
    border-radius: 0%;
    width: 350px;
    height: 50px;
}
.header{
    text-align: center;
    margin-bottom: 10px;
}
.contact-feature{
    
    margin: auto;
    background-color: blueviolet;
    padding-bottom: 100px;
}
.contact-card-background{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
}
.card{
    text-align: center;
    background-color: white;
    width: 30%;
}
.foot-main{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 150px;
}
#header{
    margin: 70px;
    margin-bottom: 10px;
}
.header-foot-main p{
    text-align: center;
}
.sub-main{
    margin-bottom: 150px;
}